.tile {
  position: absolute;
}

.tile.dark {
  background: #ccc;
}

.tile.light {
  background: #fff;
}

.tile.black {
  background: #777;
}

.tile.border-thick {
  box-shadow: inset 0px 0px 0px 5px #000;
}

.tile.border-normal {
  box-shadow: inset 0px 0px 0px 5px #ccc;
}

.tile.piece {
  text-align: center;
}



.controls .turn {
  display: inline-block;
  height: 50px;
  width: 140px;
  border: 2px solid black;
}
